rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow create, read, update: if isOwner(userId);
      allow delete: if false;
    }

    match /users/{userId}/{document=**} {
      allow read, write: if isOwner(userId);
    }

    match /userTOTP/{userId} {
      allow create, read, update: if isOwner(userId);
      allow delete: if false;
    }

    match /backupCodes/{userId} {
      allow create, read, update: if isOwner(userId);
      allow delete: if false;
    }

    match /userMFA/{userId} {
      allow create, read, update: if isOwner(userId);
      allow delete: if false;
    }

    match /caregivers/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
